body{


}

.big-text
{
  font-size: 3.5rem;
}
  .logo-img{
  width:50px;

}




/* socre box*/







.try-again{
  font-size: 10rem;
  text-align: center;
  padding-top: 6%;
}
#footer{
  text-align: center;

  padding: 7% 10%;
  background-color: #3b6978;
  height: 5px;

}
#foot{
  padding-top:80px;
  text-align: center;
}
.contact-icon{
  margin:10px;
  font-size: 30px;
}

.developed-para{
  color: #8db1ab;
}
#developed-by{
  font-size: 1rem;
}

.try-text{
  text-shadow: 2px 2px  #ffd31d;
  color:#d63447;
  margin-bottom: 5%;
  font-size: 7rem;
}
.try-img{
  height: 200px;
  width:200px;
  text-align: center;
  padding-bottom: 15%;
}
.try-btn{
  border-radius: 100%;
  background-color:#74d4c0;
  box-shadow: 0px 0px 20px 2px #888888;
  border: 2px solid #6a097d;
  width:300px;
    height:300px;

}
@media only screen and (max-width: 800px) {

  .big-text
  {
    font-size: 1.5rem;
    text-align: center;
  }
  .logo-img{
    width:40px;

  }


.try-again{
  font-size: 3.5rem;

  padding-top: 25%;
}
#footer{

  padding: 50% 10%;

}

.try-text{
  text-shadow: 2px 2px  #ffd31d;
  color:#d63447;
  margin-bottom: 10%;
  font-size: 3.5rem;

}
.try-img{
  height: 100px;
  width: 100px;
  text-align: center;
  padding-bottom:0;
}
.try-btn{
  border-radius: 100%;

  background-color:#74d4c0;
  box-shadow: 0px 0px 20px 2px #888888;
  border: 2px solid #6a097d;
  width:150px;
  height: 150px;
}
}
